<!--<h1>Hi welcome dear user</h1>
<h2>you have signed in successfully</h2>-->




<div class="row">
    <div class="col-lg-2">
        <h1>nav coloumn here</h1>
        </br>
        <a ui-sref="usermain">dashboard</a></br>
        <a ui-sref="profile">profile</a></br>
        <a ui-sref="">post requirements</a></br>
        <a ui-sref="">messages</a></br>
        <a href="" ng-click="postaskctrl.logout()">logout<a></br>
    </div>

    <div class="col-lg-9">
        <div class="container">
            <div class="row">
                    <div class="col-lg-7">
                        

                        <h1>Ask Away!</h1>

       <form name="postForm" ng-submit="" novalidate>



                <div class="form-group">
                    <label for="buyrent">I am looking to</label>
                    <select class="form-control" id="buyrent" name="buyrent" ng-model="postCtrl.buyrent" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    
                </div>


                <div class="form-group">
                    <label for="type">Type of House</label>
                    <select class="form-control" id="type" name="type" ng-model="postCtrl.type" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    
                </div>

                <div class="form-group">
                    <label for="requirement">Requirement</label>
                    <select class="form-control" id="requirement" name="requirement" ng-model="postCtrl.requirement" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    
                </div>


                <div class="form-group">
                    <label for="location">Location</label>
                    <select class="form-control" id="location" name="location" ng-model="postCtrl.location" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    
                </div>


                <div class="form-group">
                    <label for="budget">Budget</label>
                    <select class="form-control" id="budget" name="budget" ng-model="postCtrl.budget" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    
                </div>

                  <div class="form-group">
                    <label for="askbox">Ask anything here</label>
                    <!--<input id="" name="name" type="text" class="form-control" ng-model="ctrl.person.name" required maxlength="30" />-->

                    <textarea id="askbox" name="askbox" ng-model="postCtrl.askbox" class="form-control" rows="3"></textarea>

<!--
                    <div class="validation" data-ng-show="regForm.name.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Your name is mandatory
                        </div>

                        <div data-ng-show="regForm.name.$error.maxlength">
                            <span class="glyphicon glyphicon-alert"></span> Your name should not exceed 30 characters.
                        </div>

                    </div>-->

                </div>


                 <div class="form-group">
                    <hr/>
                    <!--<div ng-show="ctrl.showDetails">
                        <h3>Your registration has been submitted successfully!</h3>
                    </div>-->
                    <button input id="submit" name="submit" type="submit" class="btn btn-primary">ASK</button>


                </div>






              




            </form>

            


            




                    </div>
            </div>
        </div>
    </div>




</div>