<div class="container">

    <div class="col-sm-6 col-sm-offset-2">
        <br>
        <form name="loginForm" ng-submit="loginctrl.login()" novalidate autocomplete="off">

            <div class="form-group">
                <input type="username" class="form-control" ng-model="loginctrl.user.username" placeholder="Username" name="username" required>



                <div class="validation" data-ng-show="loginForm.username.$touched || regForm.$submitted">

                    <div data-ng-show="loginForm.username.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Username is required
                    </div>



                </div>




            </div>



            <div class="form-group">
                <input type="{{loginctrl.inputType}}" class="form-control" ng-model="loginctrl.user.password" name="password" placeholder="Password"
                    minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required>
                <br>
                
                <div class="validation" data-ng-show="loginForm.password.$touched || loginForm.$submitted">


                    <div data-ng-show="loginForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is required
                    </div>

                    <div data-ng-show="loginForm.password.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Password have at least 8 characters
                    </div>

                    <div data-ng-show="loginForm.password.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Password must include at least a number, one of the
                        following special character, @, # or $, and have both upper and lower cases.
                    </div>

                </div>




            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a ui-sref="signup">Signup</a></p>
        <!--<p>Forgot your password ? <a ui-sref="ResetPassword">Reset</a></p>-->

    </div>

    <!--<div class="col-sm-4">

        <div style="margin-top: 40px;">
            <a href="/oauth/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
            <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
            <a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
            <a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
            </a>
            <a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">
                <i class="fa fa-wechat" aria-hidden="true"></i> WeChat
            </a>
        </div>
    </div>-->

</div>